MONGO_URI=mongodb://localhost:27017/hiring_app?retryWrites=true&w=majority
PORT=5000
NODE_ENV=development
GOOGLE_SPREADSHEET_ID=ABC
GOOGLE_SERVICE_ACCOUNT_EMAIL='test@email'
GOOGLE_PRIVATE_KEY='ABC'
UPDATE_JOBS_INTERVAL=600000
MAX_CACHE_GLOBAL=0
